.navbar-brand {
  font-weight: bold;
  color: #344e41 !important;
}

.nav-link {
  color: #3a5a40 !important;
}

.nav-link:hover {
  color: #a3b18a !important;
}

.nav-link.active {
  color: #3a5a40 !important;
  font-weight: bold;
}

section {
  border-bottom: 1px solid #ddd;
}

.row {
  padding: 4px;
}

.card {
  padding: 2px;
}

.accordion-button:not(.collapsed) {
  background-color: #dad7cd;
  color: #3a5a40;
}

.accordion-button:focus {
  outline: 2px solid #000;
  box-shadow: none;
}

